body{
  background:#007acc;
}
div.header-div{
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%, 0);
  height:20vh;
  width:75vw;
  background:#fff;
  z-index:1000;
  border-bottom: 4px solid #191E5A;
}
div.header-inner{
  position:relative;
  height:20vh;
  width:75vw;
  margin:0;
  padding:0;
}
div.title{
  position:absolute;
  right:10%;
  top:0;
  height:20vh;
  width:50%;
  text-align: right;
  line-height: 20vh;
  font-family: 'Arimo', sans-serif;
  font-size: 38px;
  text-overflow:ellipsis;
}
a.home-button, a.remove-set, a.study-set{
  display:block;
  position:absolute;
  height:50px;
  width:100px;
  transform: translate(0,-50%);
  border-radius:20px;
  color: #fff;
  line-height: 50px;
  text-align:center;
  font-size:20px;
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
  cursor:pointer;
  transition: background .2s ease-in-out;
  top:50%;
}
a.home-button{
  background: #729AFF;
  left:80px;
}
a.remove-set{
  background: #FD5252;
  left:190px;
}
a.study-set{
  background: #47BBE6;
  left:300px;
}
a.home-button:hover{
  background: #4063BD;
}
a.remove-set:hover{
  background: #DA3636;
}
a.study-set:hover{
  background: #3690B2;
}
div.centerpiece{
  position:absolute;
  top:20vh;
  left:50%;
  width:75vw;
  height:80vh;
  transform: translate(-50%, 0);
  z-index:500;
  overflow-y: scroll;
}
div.centerpiece::-webkit-scrollbar{
  display:none;
}
div.word-outer{
  position:relative;
  float:left;
  width:100%;
  height:20vh;
  margin:0;
  margin-bottom:5px;
  margin-top:6px;
  background: #fff;
  padding:0;
}
div.word{
  position:absolute;
  top:0;
  left:0;
  height:20vh;
  width:50%;
  line-height:20vh;
  text-align:center;
  font-size:32px;
  font-family: 'Arimo', sans-serif;
  margin:0;
  padding:0;
  background-image: linear-gradient(90deg, transparent 79px, #ff8080 79px, #ff8080 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;;
  border-right:2px solid orange;
}
div.word-definition{
  position:absolute;
  top:0;
  right:0;
  height:20vh;
  width:50%;
  font-family: 'Arimo', sans-serif;
  margin:0;
  padding:0;
  z-index:250;
}
div.delete-word{
  position:absolute;
  top:0;
  right:0;
  z-index:300;
  height:20vh;
  width:65px;
  background: rgba(255,105,105, .5);
  text-align: center;
  line-height: 20vh;
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  color: #fff;
  transform: translate(70px,0);
  cursor:pointer;
  transition: transform .2s ease-in-out;
}
div.word-outer:hover div.delete-word{
  transform: translate(0,0);
}
div.word-definition-inner{
  position:relative;
  height:20vh;
  width:100%;
  margin:0;
  padding:0;
  overflow-y:hidden;
}
div.main-definition{
  position:absolute;
  height:20vh;
  width:95%;
  line-height:20vh;
  text-align:center;
  top:0;
  left:50%;
  transform:translate(-50%,0);
  margin:0;
  padding:0;
  z-index:100;
}
div.main-definition span{
  padding:0 10px;
  display: -moz-inline-box;
  display: inline-block;  
  text-align: center;
  line-height: normal;
  vertical-align: middle; 
  font-family: 'Arimo', sans-serif;
  font-size:20px;
}
div.no-definition{
  height:20vh;
  width:100%;
  line-height: 20vh;
  color: #FD5252;
  text-align:center;
  font-size:20px;
}